<div class="main-dark-version">
    <!--  header-section start  -->
    <common-header></common-header>
    <!--  header-section start  -->
    <!-- inner-page-banner start -->
    <common-banner [currentComponent]="activeUrl" [pageTitle]="pageTitle" [backgroundImage] = "backgroundImage"></common-banner>
    <!-- inner-page-banner end -->
    <!-- faq-section start -->
    <section class="faq-section section-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section-header text-center">
                <h2 class="section-title">Frequently Asked Questions</h2>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="faq-wrapper">
                
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="ticket" role="tabpanel" aria-labelledby="ticket-tab">
                    <div class="accordion sorteo-accordion" id="accordionExample">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-question"></i> What is My Lotto Coin?</button>
                          </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>My Lotto Coin is The World’s First Fully Decentralized and Transparent Cryptocurrency lottery operated by an Ethereum smart contract which makes it the most trusted and secured lottery in the world.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-question"></i> What is Smart Contract?</button>
                          </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>A smart contract is a computer program or a transaction protocol which is intended to automatically execute, control or document legally relevant events and actions according to the terms of a contract or an agreement. A “smart contract” is simply a piece of code that is running on Ethereum. It's called a “contract” because code that runs on Ethereum can control valuable things like ETH or other digital assets.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-question"></i> Do I need to sign up to play lotto?</button>
                          </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>You don’t need to Sign Up and create account to play lotto on this platform. By choosing your numbers and paying the amount in ETH to the smart contract address, you are automatically participated in the lottery. Your wallet address and your chosen tickets’ numbers are recorded on the Ethereum blockchain without any third party involvement.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingFour">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-question"></i> Is any prior deposit fund required?</button>
                          </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>You don’t need to deposit any funds and you have the full control of your crypto assets. Since no sign up is required to play lotto, your ticket purchases and payments are immediate and instant anytime you feel lucky to play.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingFive">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-question"></i> How can I play lotto on My Lotto Coin?</button>
                          </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>To play Lottery, simply select five main numbers from 1-69 and a single Powerball number from 1-26. You can choose your numbers manually, or with the Quick Pick option. You can add up to 10 entries per ticket and when you feel lucky with your numbers, click 'Buy' and you will be shown an ETH address with the exact amount to transfer. Once the transfer is done, your tickets and numbers are automatically entered and recorded in Ethereum smart contract for that specific draw.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingSix">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-question"></i> Where can I check the results?</button>
                          </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="collapseSix" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>Results are based on US Powerball drawings which are held every Wednesday and Saturday at 10:59 p.m. ET. The smart contract captures the draw results and winning numbers from US Powerball, that is instant and live, and checks with all purchased tickets and numbers. Results will appear on our homepage as well as on the Results page as soon as they are published. If you win a prize, the payout is instantly done in ETH to your wallet by smart contract and no third party is involved in this process to make any claim.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingSeven">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"><i class="fa fa-question"></i> Why does My Lotto Coin follow US Powerball draws?</button>
                          </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>US Powerball is one of the most popular and trusted lotteries in the U.S and one of the biggest in the world and many lotto players are familiar with the game and rules. On the other hand, My Lotto Coin wants to avoid any ambiguity and opacity around self-random number generations and confusion around smart contract logic in order to provide a transparent lotto experience.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingEight">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"><i class="fa fa-question"></i> Is My Lotto Coin associated with US Powerball?</button>
                          </h2>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>My Lotto Coin is an independent and fully decentralized lottery and it’s neither associated nor linked to any lottery corporation. Unlike other crypto lottos, draws are not done by random numbers generated by smart contract or any instant draws, rather the smart contract captures the draw results and winning numbers from US Powerball draws.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingNine">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine"><i class="fa fa-question"></i> Who does run My Lotto Coin?</button>
                          </h2>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>My Lotto Coin lottery is operated by a fully independent Ethereum smart contract guaranteeing the full function of a transparent and independent lottery, without any human and third party involvement, which makes it the most trusted and secured lottery in the world.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTen">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-question"></i> Will there be more lottery games?</button>
                          </h2>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>My Lotto Coin development team is committed to include more lotteries, among the world’s most famous lottery games, in near future.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- faq-section end -->
      <!-- question-section start -->
    <section class="question-section border-top section-padding section-bg">
        <div class="container">
          <div class="row justify-content-between">
            
            <div class="col-lg-12">
              <div class="content">
                <h2 class="title">Play Responsibly</h2>
                <p>My Lotto Coin encourage everyone to play responsibly and only play as much as they can afford. Since My Lotto Coin is totally decentralized and anonymous, the development team doesn’t have any control on players’ identity, ticket purchases, funds, and prize payouts, therefore we highly encourage players to consider the age limit and taxes wherever it applies based on where they live. My Lotto Coin is neither responsible nor can be held accountable for violating any applicable local, national or international law.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- question-section end -->
      <common-footer></common-footer>
</div>