<div class="main-dark-version">
    <!--  header-section start  -->
    <common-header></common-header>
    <!--  header-section start  -->
    <!-- inner-page-banner start -->
    <common-banner [currentComponent]="activeUrl" [pageTitle]="pageTitle" [backgroundImage] = "backgroundImage"></common-banner>
    <!-- inner-page-banner end -->
    <!-- about-section start -->
    <section class="about-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-2">

                </div>
                <div class="col-xl-8">
                    <h2 style="margin-bottom: 25px;" class="title text-center">A FEW WORDS ABOUT US</h2>
                    <p style="margin-bottom: 35px; font-style:italic;" class="text-center">With an enthusiasm to serve,
                        our commitment to providing fun and fair games is matched by our desire to make a positive
                        difference in the community.</p>
                    <p style="margin-bottom: 15px;">My Lotto Coin is The World’s First Fully Decentralized and
                        Transparent Cryptocurrency lottery operated by an Ethereum smart contract which makes it the
                        most trusted and secured lottery in the world.</p>
                    <p style="margin-bottom: 15px;">All lottery ticket purchases, jackpot balance, and winners’ prizes
                        payouts are public and recorded on the Ethereum blockchain without any human and third party
                        involvement. My Lotto Coin is the first of its kind lottery managed by a fully independent
                        Ethereum smart contract guaranteeing the full function of a transparent and independent lottery.
                    </p>
                    <p style="margin-bottom: 15px;">You don’t need to sign up and provide your information to any party
                        in order to play My Lotto Coin, and since it’s fully managed by Ethereum blockchain, therefore
                        your full anonymity is guaranteed.</p>
                    <p style="margin-bottom: 15px;">Tickets are instantly purchased without prior deposit and you have
                        the full control of your crypto assets. Unlike other crypto lottos, you pay directly with ETH
                        from your cryptocurrency wallets without creating any account and depositing your ETH. Prizes
                        Payouts are immediately done by smart contract to your ETH wallet address (the same ETH wallet
                        address that the payment was made) after each lottery draw, and you don’t need to request for
                        any claims! Your ticket purchases and payments are very fast (usually within a minute).</p>
                    <p style="margin-bottom: 15px;">Results are based on US Powerball drawings which are held every
                        Wednesday and Saturday at 10:59 p.m. ET.! Unlike other crypto lottos, draws are not done by
                        random numbers generated by smart contract or any instant draws, rather the smart contract
                        captures the draw results and winning numbers from US Powerball website, that is instant and
                        live, and checks with all purchased tickets and numbers. </p>
                </div>
                <div class="col-xl-2">

                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->
    <!-- choose-us-section start -->
    <section class="choose-us-section section-padding border-top border-bottom has_bg_image"
        data-background="assets/images/03.jpg" [ngStyle]="{'background-image':'url('+backgroundImageSection+')'}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-header text-center">
                        <h2 class="section-title">Why My Lotto Coin</h2>
                        <p>By empowering players to be always a part of this fair game and win, there are already
                            millions of reasons why you should be playing with My Lotto Coin lottery. But you don’t need
                            a million reasons. All you need is eight - and every one of them’s a winner:</p>
                    </div>
                </div>
            </div>
            <div class="row mt-mb-15">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="choose-item text-center choose-item--gray-border">
                        <div class="front">
                            <div class="icon">
                                <img src="assets/images/svg-icons/choose-us-icons/1.svg" alt="icon">
                            </div>
                            <h4 class="title">World Record Jackpot</h4>
                        </div>
                        <div class="back">
                            <p>85% of lottery ticket sales go to the prize pool. My Lotto Coin allocates the largest
                                percentage to the jackpot and winners than any traditional and online lottery around the
                                world.</p>
                        </div>
                    </div>
                </div><!-- choose-item end -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="choose-item text-center choose-item--gray-border">
                        <div class="front">
                            <div class="icon">
                                <img src="assets/images/svg-icons/choose-us-icons/2.svg" alt="icon">
                            </div>
                            <h4 class="title">Transparent<br />&nbsp;</h4>
                        </div>
                        <div class="back">
                            <p>The Ethereum Smart contract is public, and anyone with Internet access can see the source
                                code, payments, Balance, and prize payouts and all transactions at all time.</p>
                        </div>
                    </div>
                </div><!-- choose-item end -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="choose-item text-center choose-item--gray-border">
                        <div class="front">
                            <div class="icon">
                                <img src="assets/images/svg-icons/choose-us-icons/3.svg" alt="icon">
                            </div>
                            <h4 class="title">Reliable<br />&nbsp;</h4>
                        </div>
                        <div class="back">
                            <p>Instant payments are guaranteed by smart contract with no human or third party
                                involvement, benefiting the safe and secure blockchain environment.</p>
                        </div>
                    </div>
                </div><!-- choose-item end -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="choose-item text-center choose-item--gray-border">
                        <div class="front">
                            <div class="icon">
                                <img src="assets/images/svg-icons/choose-us-icons/4.svg" alt="icon">
                            </div>
                            <h4 class="title">Global Access<br />&nbsp;</h4>
                        </div>
                        <div class="back">
                            <p>Anyone who has Internet access, an Ethereum crypto wallet and some ETH balance, can play
                                with no country, and citizenship restrictions.</p>
                        </div>
                    </div>
                </div><!-- choose-item end -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="choose-item text-center choose-item--gray-border">
                        <div class="front">
                            <div class="icon">
                                <img src="assets/images/svg-icons/choose-us-icons/5.svg" alt="icon">
                            </div>
                            <h4 class="title">Incentives<br />&nbsp;</h4>
                        </div>
                        <div class="back">
                            <p>For every 10 tickets purchased in one time, you will automatically receive 10 MYL tokens
                                dropped to your ETH wallet by the smart contract.<a
                                    href="http://www.mylottocoin.io">Learn about MYL.</a></p>
                        </div>
                    </div>
                </div><!-- choose-item end -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="choose-item text-center choose-item--gray-border">
                        <div class="front">
                            <div class="icon">
                                <img src="assets/images/svg-icons/choose-us-icons/6.svg" alt="icon">
                            </div>
                            <h4 class="title">Anonymous<br />&nbsp;</h4>
                        </div>
                        <div class="back">
                            <p>Unlike traditional and online lotteries, My Lotto Coin winners remain anonymous and no
                                identity can be exposed at any stage. No sign-up/ registration is required.</p>
                        </div>
                    </div>
                </div><!-- choose-item end -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="choose-item text-center choose-item--gray-border">
                        <div class="front">
                            <div class="icon">
                                <img src="assets/images/svg-icons/choose-us-icons/7.svg" alt="icon">
                            </div>
                            <h4 class="title">Instant Payouts<br />&nbsp;</h4>
                        </div>
                        <div class="back">
                            <p>Payouts are instantly in ETH to your ETH wallet address; the same ETH wallet address the
                                payment was made to purchase the tickets, without any need to claim.</p>
                        </div>
                    </div>
                </div><!-- choose-item end -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="choose-item text-center choose-item--gray-border">
                        <div class="front">
                            <div class="icon">
                                <img src="assets/images/svg-icons/choose-us-icons/8.svg" alt="icon">
                            </div>
                            <h4 class="title">The first of its kind</h4>
                        </div>
                        <div class="back">
                            <p>A <u>Fully Decentralized</u> and <u>Transparent</u> crypto-lottery operated by an
                                Ethereum smart contract which makes it the most trusted, independent, autonomous,
                                anonymous, and secure lottery in the world!</p>
                        </div>
                    </div>
                </div><!-- choose-item end -->
            </div>
        </div>
    </section>
    <!-- choose-us-section end -->
    <!-- footer-section start -->
    <common-footer></common-footer>
    <!-- footer-section end -->
</div>